body {
	background-image: url("../images/bgtile.png");
    background-repeat: repeat-x;
	background-color: rgb(245,246,248);
	padding: 60px 0 10px 60px;
	font-family: 'Open Sans', sans-serif;
}
header {
}
main {
	background-color: white;
	border-radius: 6px;
	box-shadow: 5px 5px 5px rgb(210, 210, 210);
	padding: 25px 25px 30px 25px;
}
footer {
	text-align: center;
	text-transform: uppercase;
	color: rgb(60, 100, 135);
	clear: left;
	padding-top: 20px;
}
h2 {
	font-size: 22px;
	font-weight: 700;
	color: rgb(18, 57, 92);
	width: 220px;
	padding-bottom: 20px;
}
p {
	padding: 5px 0;
	line-height: 160%;
}
span {
	font-weight: 700;
}
img {

}
li {
	display: inline-block;
	font-size: 12px;
	font-weight: 800;
	padding: 0 5px;
}
button {
	border-radius: 5px;
	background-color: rgb(60, 100, 135);
	/*position: relative;*/
	/*float: right;*/
	/*bottom: 20px;*/
}
.copyright {
	color: rgb(190, 190, 190);
}
.login {
	position: relative;
	bottom: 4px;
	/*background-color: yellow;*/
	padding: 0 8px;
	font-weight: 400;
}
#phonesDiv{
	display: inline-block;
}
#phonesImage {
	display: none;
}
@media (min-width: 863px) {
  #phonesImage {
  	display: inline-block;
    margin-right: 30px;
  }
  li {
  	display: inline;
  }
}
#brandImage {
	width: 250px;
}
#loginButton {
	font-size: 14px;
	padding: 5px;
	background-color: rgb(106, 142, 172);
    color: white;
    float: right;
    position: relative;
    top: 7px;
    border: 2px solid rgb(50, 94, 151);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#loginButton:hover {
    background-color: #444444;
    box-shadow: 4px 4px 2px #444444;
}

#appStoreImg, #googlePlayImg{
	width: 40%;
	height: 50px;
	margin: 15px 8px 0 0;
}
#content {
	display: inline-block;
	width: 450px;
	margin: 0 auto;
	/*height: 512px;*/
	/*position: relative;*/
	/*top: 0px;*/
}